.standard-item {
  filter: drop-shadow(2px 2px 4px #000000be);
  width: 80px;
  image-rendering: pixelated;
}

.item-mask {
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-size: 80px;
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  filter: brightness(0.4);
  mix-blend-mode: plus-lighter;
  pointer-events: none;
}

.glint {
  scale: 150%;
  animation: 4s linear infinite normal glint-anim;
}

@keyframes glint-anim {
  from {
    transform: translate(-50%, -20%);
  }
  to {
    transform: translate(0%, -20%);
  }
}
